<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FadeInActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".FadeOutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CrossfadeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".BlinkActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ZoomInActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ZoomOutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RotateActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MoveActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SlideUpActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SlideDownActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".BounceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SequentialActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".TogetherActivity"
            android:label="@string/app_name" />
    </application>

</manifest>